@model List<User>

@{
    Layout = "_AuthLayout";
}

<section class="w-50  mt-3 d-flex flex-column gap-4 ">
    <h1 class="text-center">Non Active Users</h1>

    <div class="d-flex justify-content-between text-danger fw-bold">
        <span>All users : @ViewBag.AllUsers</span>
        <span>Active users : @ViewBag.ActiveUsers</span>
        <span>Non Active users : @ViewBag.NonActiveUsers</span>
    </div>

    <table class="table text-center">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="py-3">@item.Name</td>
                    <td class="py-3">@item.Password</td>
                    <td><a class="btn btn-success" asp-controller="Users" asp-action="Active" asp-route-id="@item.Id">Active</a></td>
                </tr>
               
            }
        </tbody>
    </table>
</section>
